# Combining and Exporting Data

## 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing data

In [6]:
# Import orders_checked data from Prepared Data folder
df_ords = pd.read_csv(r'C:\Users\lrutl\OneDrive\Desktop\Python Fundamentals for Data Analysts\Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [7]:
path = r'C:\Users\lrutl\OneDrive\Desktop\Python Fundamentals for Data Analysts\Instacart Basket Analysis'

In [8]:
# Check output of df_ords
df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,1,1,2398795,1,2,3,7,15.0
1,2,2,473747,1,3,3,12,21.0
2,3,3,2254736,1,4,4,7,29.0
3,4,4,431534,1,5,4,15,28.0
4,5,5,3367565,1,6,2,7,19.0

In [9]:
# Import df_ords_prior data from Original Data folder
df_ords_prior = pd.read_csv(r'C:\Users\lrutl\OneDrive\Desktop\Python Fundamentals for Data Analysts\Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv', index_col = False)

In [10]:
# Check output of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
# Drop 'Unnamed: 0' and 'Unnamed: 0.1' columns from df_ords dataframe
df_ords = df_ords.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [12]:
# Check new output of df_ords
df_ords.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

In [13]:
# Check shape of df_ords
df_ords.shape

(3214874, 6)

In [14]:
# Check shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

## 03. Merging data

In [15]:
# Merge df_ords with df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
# Check output of df_merged_large
df_merged_large.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [19]:
df_merged_large.shape

(30356421, 10)

In [17]:
# check for full match
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

## 04. Exporting data in .pkl format

In [18]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))