# Exercise 4.6

## 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing data

In [4]:
# Import orders_products_combined data from Prepared Data folder
orders_products_combined = pd.read_pickle(r'C:\Users\lrutl\OneDrive\Desktop\Python Fundamentals for Data Analysts\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [5]:
path = r'C:\Users\lrutl\OneDrive\Desktop\Python Fundamentals for Data Analysts\Instacart Basket Analysis'

In [6]:
# Check output of orders_products_combined
orders_products_combined.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [7]:
orders_products_combined.shape

(30356421, 10)

In [8]:
# Import products_checked data from Preared Data folder
products_checked = pd.read_csv(r'C:\Users\lrutl\OneDrive\Desktop\Python Fundamentals for Data Analysts\Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv', index_col = False)

In [9]:
# Check output of products_checked
products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
products_checked.shape

(49672, 6)

In [11]:
# Drop 'Unnamed: 0' column from products_checked dataframe
products_checked = products_checked.drop(columns = ['Unnamed: 0'])

In [12]:
# Check new output of products_checked
products_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
products_checked.shape

(49672, 5)

## 03. Combining data

In [19]:
# Merge products_checked with orders_products_combined on product_id
orders_products_merged = orders_products_combined.merge(products_checked, on = ['product_id'])

In [20]:
# Check output of orders_products_merged
orders_products_merged.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
1,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
2,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
3,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0
4,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0

In [21]:
# Confirm results using merge flag
orders_products_merged['_merge'].value_counts()

both          30328763
left_only            0
right_only           0
Name: _merge, dtype: int64

## 04. Exporting data

In [22]:
# Export data to Prepared Data folder
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))